<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.glicocare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GlicoCare">
        <activity
            android:name=".Help"
            android:exported="true" />
        <activity
            android:name=".TelaPrincipal"
            android:exported="true" />
        <activity
            android:name=".PerfilProfissional"
            android:exported="true" />
        <activity
            android:name=".FormCadastroProfissional"
            android:exported="true" />
        <activity
            android:name=".FormTipoUsuario"
            android:exported="true" />
        <activity
            android:name=".PerfilPaciente"
            android:exported="true" />
        <activity
            android:name=".FormCadastro"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".FormLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>